* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
  /* define blanket values here */
  background-color: darkslategray;
}

/* center content */
body {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 0;
  flex-direction: column;
  
}

.nav-container {
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  align-items:stretch;
  background-color: var(--grey);
  font-size: larger;
  color: rgb(0, 0, 0);
  font-weight: bolder;
} 

.nav-container #timer {
  color: rgb(212, 49, 8);
}

#score {
  color: rgb(4, 136, 54); 
} 

#time {
  color: rgb(0, 0, 0);
}




.container {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  margin-top: 25px;
  width: 1000px;
  max-width: 70%;
  background-color: gray;
  text-align: center;
  align-content: center;
  flex-wrap: wrap;
  font-weight: bolder;
  flex-direction: column;
  align-items: center;
}

#question-container {
  font-weight: bolder;
  font-size: 25px;
  display: flex;
}

/* reference https://www.w3schools.com/css/css_grid.asp */
.button-container {
  display: grid; 
  grid-template-columns: repeat(2,auto);    /*https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-columns */
  gap: 15px;
  margin: 25px 0;
}

.btn {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: rgba(255, 68, 0, 0.555);
  margin: 10px;
  min-width: 10vw;
  align-items: center;
  justify-content: space-evenly;
  min-width: 25em;
  min-height: 5em;
  font-size: medium;

}

#start-msg {
  color: rgb(255, 255, 255);
}

/* used to change color on cursor hover over button  */
.btn:hover {
  background-color: rgb(107, 0, 0);
  color: white;
  font-weight: bold;
}

.hide {
  display: none;
}

/* utility */
.float-left {
  float: left;
}

.float-right {
  float: right;
} 


